<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <link rel="stylesheet/less" href="static/css/<%= css%>.less"/>
  <script src="static/js/inc/less-1.7.0.js" charset="utf-8"></script>
  <link rel="stylesheet" href="static/css/inc/bootstrap.css">
  <script src="static/js/inc/avalon.js" charset="utf-8"></script>
  <script src="static/js/inc/jquery-1.9.1.js" charset="utf-8"></script>
  <script src="static/js/inc/bootstrap.min.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
