<%include inc/top.html%>
<div class="container-fluid ms-controller" ms-controller="home">
  <div class="row">
    <div class="col-lg-12">
      <h1  class="header">房地产销售</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="login">
        <div class="log" ms-if="ms_if.denlu">
          <span>用户名：</span><input type="text" ms-duplex="string.u_name" style="width:90%;"><br />
          <span>密码：</span><input type="text" ms-duplex="string.u_pass" style="width:90%;">
          <input type="button" name="name" value="登录" class="lg_bt" ms-click="submit()">
          <input type="button" name="name" value="注册" class="lg_bt" ms-click="signin()">
        </div>
        <div class="log" ms-if="ms_if.userinfo">
          <span class="h_img">[%string.username%]</span><br>
          <span>签名：[%string.usersign%]</span>
        </div>
        <div class="button">
          <a class="bt_barrage" ms-click="connect()">联系</a>
        </div>
        <div class="dm">
          <span>弹幕</span>
          <input type="text" class="text">
          <input type="button" name="name" value="开" class="dm_o">
          <input type="button" name="name" value="发送" class="dm_s">
          <input type="button" name="name" value="关" class="dm_c">
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="content" ms-if="ms_if.h_right">
        <div  ms-repeat="h_data">
          <div ms-if="flag(el)">
            <img ms-attr-src="el.pic" class="img-responsive img-rounded center-block h_img">
            <h2 class="col-lg-12">[%el.name%]</h2>
            <div class="text">
              <p>价格：[%el.value%]。</p>
              <p>布局：[%el.buju%]。</p>
              <p>面积：[%el.mianji%] ㎡。</p>
              <p>楼层：[%el.louceng%]。</p>
            </div>
          </div>
        </div>
        <div class="tm">
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
          <div><span>好漂亮的别墅！</span></div>
        </div>
        <button type="button" class="btn btn-primary btn-lg bt_up" ms-click="up">上一个</button>
        <button type="button" class="btn btn-primary btn-lg bt_down" ms-click="down">下一个</button>
      </div>
      <div class="h_signin" ms-if="ms_if.h_sign">
        <div class="zhuce">
          <div><span>用户名：</span><input type="text"></div>
          <div><span>QQ号：</span><input type="number"></div>
          <div><span>邮箱：</span><input type="number"></div>
          <div><span>手机号：</span><input type="number"></div>
          <div><span>证件号：</span><input type="number"></div>
          <div><span>出生年月：</span><input type="date" class="born"></div>
          <div><span>密码：</span><input type="password"></div>
          <div><span>确认：</span><input type="password"></div>
          <div><span>个性签名：</span><input type="text"></div>
          <button type="button" name="button" ms-click="zhuce_submit()">确定</button>
          <button type="button" name="button" ms-click="zhuce_clear()">取消</button>
        </div>
      </div>
      <div class="content" ms-if="ms_if.h_content">
        <div>1111</div>
      </div>
    </div>
  </div>
</div>
<script src="static/js/dm.js" charset="utf-8"></script>
<%include inc/footer.html%>
