<%include inc/top.html%>
<div class="container-fluid ms-controller" ms-controller="home">
  <div class="row">
    <div class="col-lg-12">
      <h1  class="header">房地产销售</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="login">
        <div class="log" ms-if="ms_if.denlu">
          <span>用户名：</span><input type="text" ms-duplex="u_name" style="width:90%;"><br />
          <span>密码：</span><input type="password" ms-duplex="u_pass" style="width:90%;">
          <input type="button" name="name" value="登录" class="lg_bt" ms-click="submit()">
          <input type="button" name="name" value="注册" class="lg_bt" ms-click="signin()">
        </div>
        <div class="log" ms-if="ms_if.userinfo">
          <span class="h_img">[%u_name%]</span><br>
          <span>个性签名：[%usersign%]</span>
        </div>
        <div class="button">
          <a class="bt_barrage" ms-click="connect()">[%con_name%]</a>
        </div>
        <div class="dm">
          <span>弹幕</span>
          <input type="text" class="text" ms-duplex="dm_msg">
          <input type="button" name="name" value="开" class="dm_o" ms-click="dm_open()">
          <input type="button" name="name" value="发送" class="dm_s" ms-click="dm_send()">
          <input type="button" name="name" value="关" class="dm_c" ms-click="dm_close()">
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="content" ms-if="ms_if.h_right">
        <div  ms-repeat="h_data">
          <div ms-if="flag(el)">
            <img ms-attr-src="el.pic" class="img-responsive img-rounded center-block h_img">
            <h2 class="col-lg-12">[%el.name%]</h2>
            <div class="text">
              <p>价格：[%el.value%]。</p>
              <p>布局：[%el.buju%]。</p>
              <p>面积：[%el.mianji%] ㎡。</p>
              <p>楼层：[%el.louceng%]。</p>
            </div>
          </div>
        </div>
        <div class="tm" ms-repeat="dm_say">
          <div><span>[%el.msg%]</span></div>
        </div>
        <button type="button" class="btn btn-primary btn-lg bt_up" ms-click="up">上一个</button>
        <button type="button" class="btn btn-primary btn-lg bt_down" ms-click="down">下一个</button>
      </div>
      <div class="h_signin" ms-if="ms_if.h_sign">
        <div class="zhuce">
          <div><span>用户名：</span><input type="text" placeholder="两个字" ms-duplex="username"></div>
          <div><span>QQ号：</span><input type="number" placeholder="选填" ms-duplex="qq"></div>
          <div><span>邮箱：</span><input type="text" placeholder="选填" ms-duplex="mail"></div>
          <div><span>手机号：</span><input type="number" placeholder="必填" ms-duplex="telephone"></div>
          <div><span>身份证号：</span><input type="number" placeholder="必填" ms-duplex="zhenjian"></div>
          <div><span>出生年月：</span><input type="date" placeholder="选填" class="born" ms-duplex="born"></div>
          <div><span>密码：</span><input type="password" placeholder="必填" ms-duplex="pass"></div>
          <div><span>确认：</span><input type="password" placeholder="密码确认" ms-duplex="r_pass"></div>
          <div><span>个性签名：</span><input type="text" placeholder="选填" ms-duplex="sign"></div>
          <button type="button" name="button" ms-click="zhuce_submit()">确定</button>
          <button type="button" name="button" ms-click="zhuce_clear()">取消</button>
        </div>
      </div>
      <div class="content" ms-if="ms_if.h_content">
        <div class="ziliao">
          <div><span>房源评论:[%zl.zl_content%]</span></div>
          <div><span>售价:[%zl.zl_price%]</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>单价:[%zl.zl_dj%]</span></div>
          <div><span>首付:[%zl.zl_sf%]</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>月供：[%zl.zl_pri%]元</span></div>
          <div><span>户型：[%zl.zl_hx%]</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>朝向：[%zl.zl_cx%]</span></div>
          <div><span>楼层：[%zl.zl_lc%]</span></div>
          <div><span>小区：[%zl.zl_xq%]</span></div>
          <hr>
          <div><span>联系人：[%zl.zl_lxr%]</span></div>
          <div><span>手机号：[%zl.zl_sjh%]</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>电话号：[%zl.zl_dhh%]</span></div>
          <div></div>
          <div><span>联系人地址：[%zl.zl_dz%]</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="static/js/<%= js%>.js" charset="utf-8"></script>
<%include inc/footer.html%>
